h2{
	color:black;
	font-family:monospace;
}
body{
	background-color:#fff;
	color:#000;
	font-family:monospace;
	position:inline;
	border:1px solid #000;
	width:auto;
}
.CodeMirror.prompt{
	height: 20px;
	display:block;
	width:auto;
	border: 1px solid #000;
}
.CodeMirror.prompt div.CodeMirror-cursor {
  border-left: 8px solid black;
}
.CodeMirror.prompt div.CodeMirror-secondarycursor {
  border-left: 8px solid silver;
}

.CodeMirror.prompt div.CodeMirror-measure{
	visibility: visible;
	overflow-x: visible;
	overflow-y: visible;
}
.CodeMirror.prompt div.CodeMirror-measure pre span{
	visibility:hidden;
}
.CodeMirror.prompt div.CodeMirror-lines {
	padding-top: 2px;
	padding-bottom: 2px;
}
.CodeMirror.prompt div.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.CodeMirror{
	height: 100px;
	display:block;
	width:auto;
	border: 1px solid #000;
}


