<!doctype html>

<head>
	<title>JavaScript Command Line User-Interface</title>
	<link rel="stylesheet" type="text/css" href="/static/codemirror/lib/codemirror.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	
	<script type="text/javascript" src="/static/jquery/jquery.min.js"></script> 
<!--	<script type="text/javascript" src="/static/js/ipyterm.js"></script>			-->
	<script type="text/javascript" src="/static/js/terminal.js"></script>			
	<script type="text/javascript" src="/static/codemirror/lib/codemirror.js"></script>
	<script type="text/javascript" src="/static/codemirror/mode/javascript/javascript.js"></script>
	

	  
</head>

<body>
	<h2>JavaScript Command Prompt</h2>
	<div id="userInput">
		<span id="user">guest@iPython:</span><span id="preprompt"><textarea id='prompt'></textarea></span>
	</div>



</body>
